.ant-form-item-label {
	display: inline-block;
	overflow: hidden;
	line-height: 39.9999px;
	white-space: nowrap;
	text-align: left;
	vertical-align: middle;
}

.connatbox {
	width: 1000px;
	margin: 0 auto;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 22px;
}
.ant-form-item {
  margin-bottom: 10px;
}
.ant-tag-pink {
    font-size: 18px;
    line-height: 30px;
}
