
@font-face {  
  font-family: 'Hcjzy';  
  src: url('./hcjzy.TTF'); 
  font-weight: normal;  
  font-style: normal;  
}
@font-face {  
  font-family: 'FZZDHJW';  
  src: url('./FZZDHJW.TTF'); 
  font-weight: normal;  
  font-style: normal;  
}
